obj
bin
release
debug

packages/
Artifacts/
TestResults/

*.nupkg
*.exe
*.user
*.suo
PublishProfiles
configuration.local.json
precompiledweb
*~

*.ide*
*.dgml
*.orig
*.vs/config/applicationhost.config
*.dat
